@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&family=Zilla+Slab:wght@300&display=swap');

body{
    background: radial-gradient(
        white,
        rgb(214, 183, 7) 100%,

    )
}

.font-size-xl {
    font-size: 8rem;
    color: rgb(70, 0, 151)
}

.margin{
    margin-top: 215px;
    width: 99%;
}

.shade-button{
    background: radial-gradient(
        rgb(181, 149, 255),
        rgb(60, 0, 226),
        
    );
    border-radius: 15px;
    border: 2px solid black;
}

.shade-button:hover{
    background: radial-gradient(
        rgb(112, 50, 255),
        rgb(31, 0, 116),
        
    );
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color-navbar {
    background: linear-gradient(
        0deg,
        rgb(70, 0, 151) 0%,
            rgb(171, 157, 245) 100%
    );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color-footer {
    background: linear-gradient(
        0deg,
        rgb(171, 157, 245)0%,
        rgb(70, 0, 151)  100%
    );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color3 {
    background: linear-gradient(to top, rgba(255,0,0,0), rgb(214, 183, 7));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color4 {
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(214, 183, 7));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-header{
    width: 99%;
    height: 600px;
    border-radius: 10px;
}

.position-try {
    margin-top: -500px;
    font-size: 3rem;
}

.font-title {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color:rgb(194, 174, 0);
    text-shadow: 2px 2px 5px black;
}

.font-body {
    font-family: 'Zilla Slab', serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
}

.fadein-animation {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadein-animation2 {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}