@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&family=Zilla+Slab:wght@300&display=swap');


.font-size-xl {
    font-size: 8rem;
    color: rgb(253, 253, 253)
}

.icon-size-xl {
    font-size: 3rem;
    color: rgb(253, 253, 253)
}

.user-img {
    border-radius: 100px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: 2px solid black
}

.margin{
    margin-top: 30px;
    width: 99%;
}

.shade-button{
    background: 
    rgb(17, 83, 168);
    border-radius: 15px;
}

.round-bord{
    border: 5px solid white;
    width: 100px;
    border-radius: 100px;
    box-shadow: 1px 1px 4px black;
}

.shade-button:hover{
    background:
    rgb(7, 62, 133);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color-navbar {
    background: 
    rgb(40, 123, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color-footer {
    background: 
    rgb(40, 123, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color3 {
    background: rgb(90, 158, 247);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shade-color4 {
    background:rgb(156, 199, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-header{
    width: 70%;
    height: 600px;
    border-radius: 10px;
    margin-right: 10px
}

.position-try {
    max-width: 630px;
    font-size: 2.7rem;
    margin-right: 10px
}

.font-title {
    font-family: 'EB Garamond', serif;
    font-weight:bolder;
    color:rgb(86, 172, 252);
    text-shadow: 2px 2px 5px black;
}

.font-body {
    font-family: 'Zilla Slab', serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
}

.font-navbar {
    font-family: 'Zilla Slab', serif;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    font-size: xx-large;
}

.fadein-animation {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadein-animation2 {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}